<p *ngCarousel="condition" class="carousel a">
    (A) This paragraph is displayed because the condition is false.
</p>

<p *ngCarousel="!condition" class="carousel b">
    (B) Although the condition is true,
    this paragraph is displayed because ngCarousel is set to false.
</p>

<p>
    The condition is currently
    <span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': true }">{{condition}}</span>.
    <button
      type="button"
      (click)="condition = !condition"
      [ngClass] = "{ 'a': condition, 'b': !condition }" >
      Toggle condition to {{condition ? 'false' : 'true'}}
    </button>
</p>

<div class="container-fluid">
   
<h1>Angular 13 Bootstrap Carousel Example - Tutsmake.com</h1>
       
<ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of images">
    <div class="wrapper">
        <img [src]="image.src" alt="Random first slide">
    </div>
    <div class="carousel-caption">
        <h3>{{ image.title }}</h3>
        <p>{{ image.short }}</p>
    </div>
    </ng-template>
</ngb-carousel>
         
</div>